div {
	font-family: 'Quicksand', sans-serif;
}

nav {
	background-color: #d62828;
}

.navbar-brand {
	color: #fcbf49;
}

.navbar-brand:hover {
	color: #eae2b7;
}

.nav-link {
	color: #fcbf49;
}

.nav-link:hover {
	color: #eae2b7;
}

.btn-outline-success {
	color: #d62828;
	background-color: #fcbf49;
	border-color: #d62828;
}

.btn-outline-success:hover {
	background-color: #eae2b7;
	color: #003049;
	border-color: #003049;
}

h1 {
	color: #f77f00;
	font-size: 60px;
	padding: 10px;
}

.container-style {
	background-color: #003049;
	color: #eae2b7;
}